#footer_container * {
    background-color: white;
}

#footer_container {
    width: 1517.5px;
    margin-left: -118px;
    margin-top: 200px;
    height: 720px;
}

.main_text1 {
    font-style: normal;
    font-weight: 400;
    font-size: 80px;
    line-height: 80px;
    color: #3A423A;
    text-align: center;
    padding-top: 150px;
}

.main_text2 {
    font-style: normal;
    font-weight: 400;
    font-size: 76px;
    line-height: 80px;
    text-align: center;
    text-transform: uppercase;
    color: #3A423A;
    padding-top: 3px;
}

.but_contact {
    font-weight: 400;
    font-size: 16px;
    width: 120px;
    height: 50px;
    border-radius: 4px;
    line-height: 20px;    
    margin-top: 70px;
    font-style: normal;
    background-color: #3A423A;
    color: #FFFFFF;
    border: none;
    transition: all 200ms ease;
    	
}

#but_cont {
    background-color: #4A524A;

}

#but_cont:hover{
    color: #212721;
    background-color: #ffea00;
    transition: all 200ms ease;
}

.but_call {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 1px;
    color: #212721;
    border: none;
    background-color: white;
    margin-left: 25px;
    padding: 0;
    width: 100px;
    border-bottom: 1px solid rgba(74, 82, 74, 0.4);
}

li {
    list-style-type: none;
}

.second_sec {
    width: 100%;
    height: 300px;
    display: inline-flex;
    padding-top: 100px;
    
}

.second_sec > *{
    width: 420px;
}

.list {
    font-family: 'Source Sans 3';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 38px;
    letter-spacing: 1px;
    color: #3A423A;
    margin-left: 150px;
    text-align: left;
    width: 170px;
}

.row2 {
    width: 300px;
    text-align: left;
    margin-left: 300px;
}

.hq {
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #3A423A;
    width: 170px;
}

.addr {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #7C7C7C;
    width: 300px;
    margin-top: 20px;
}

.cont {
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 1px;
    color: #3A423A;
    margin-top: 50px;
}

.mail {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 1px;
    color: #212721;
    margin-top: 15px;
    width: 130px;
    border-bottom: 1px solid rgba(74, 82, 74, 0.4);
}

.tel {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 1px;
    color: #212721;
    margin-top: 10px;
    width: 100px;
    border-bottom: 1px solid rgba(74, 82, 74, 0.4);
}

.row3 {
    width: 420px;
    margin-left: 230px;
    width: 320px;
    text-align: left;
    
}

.foll {
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 1px;
    color: #3A423A;
}

.style {
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 1px;
    color: #3A423A;
    margin-top: 90px;
    width: 100px;
    border-bottom: 1px solid rgba(74, 82, 74, 0.4);
}

.imag {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 1px;
    color: #212721;
    margin-top: 15px;
    width: 111px;
    
    border-bottom: 1px solid rgba(74, 82, 74, 0.4);
}

.powered {
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color: #696969;
    margin-top: 30px;
    
}