.words{
    color:rgb(228, 79, 79);
    position: relative;
    z-index: 2;
    font-family: 'Source Sans 3', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 86px;
    line-height: 104px;
    /* identical to box height, or 121% */
    display: block;
    text-transform: uppercase;
    text-align: left;
    margin-bottom: 20px;
    color: #D6D1CA;
    margin-left: 80px;
}
.work{
    flex: 1;
    width: 255px;
    color: #D6D1CA;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 40px;
    text-align: left;
    margin-bottom: 40px;
    align-items: center;
    margin-left: 80px;
}
.work2{
    flex: 1;
    width: 255px;
    color: #D6D1CA;
    text-transform: uppercase;
    text-align: right;
    margin-top: 30px;
    margin-right: 40px;
    height: 20px;
}
.firstblock{
    display: flex;
}